/*
 * *** You can say something about your file if you need it
 * Template Name
 * Description
 * Vertion
 * Copyright
 * Author
 * Last Modified Date
 *
 */
/*----------  $Catalog  ----------*/
/**
 * Catalog
 * Reset
 * Color
 * Typography
 * Icons
 * Utility
 **/
/*----------  $Icons  ----------*/
@import url("font-awesome.css");
/*----------  $Reset  ----------*/
@import url("normalize.css");
/* Add reset */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

/*----------  $Color  ----------*/
/* background color */
.bg-color--primary {
  background-color: #ff7a5a; }

.bg-color--secondary {
  background-color: #5b5b66; }

.bg-color--black {
  background-color: #353630; }

.bg-color--white {
  background-color: #fefefe; }

/* text color */
.color--primary {
  color: #ff7a5a; }

.color--secondary {
  color: #5b5b66; }

.color--black {
  color: #353630; }

.color--white {
  color: #fefefe; }

/*----------  $Typography  ----------*/
html, body {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h2 {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px; }

h3 {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px; }

h5 {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px; }

h6 {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px; }

.subtitle {
  font-size: 48px;
  font-weight: 900;
  font-family: 'Helvetica','roboto', arial, sans-serif;
  margin-top: 24px;
  margin-bottom: 24px; }
  @media (max-width: 480px) {
    .subtitle {
      font-size: 30px; } }

/* link */
a {
  text-decoration: none; }
  a:hover, a :active, a :focus {
    text-decoration: none; }

/* list */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*----------  $Utility  ----------*/
.u-text-center {
  text-align: center !important; }

.u-mb-48 {
  margin-bottom: 48px !important; }
