<!DOCTYPE html>
html(lang="zh-TW")
head
	meta(charset="UTF-8")
	title Hito's CI
	link(rel="icon" href="favicon.ico" type="image/x-icon" )
	//- CSS
	link(rel="stylesheet", href="CI/css/style.css")
body
	.header
		.logo  Brand 
					span Identify
	.content.content_white
		.max-width-md
			h5 Brand Title
			.titlehr
			h1 品牌視覺引導-56px 大標題
			h1.small_english English Brand CI for h1 title
			h2 品牌視覺引導-45px 中標題
			h2.small_english English Brand CI for h2 title
			h3 品牌視覺引導-34px 小標題
			h3.small_english English Brand CI for h3 title
			hr
			h5  Brand Colors
			.titlehr
			.colorchip
				.color_tag  #ff7a5a
				.color_block.color_block_primary
			.colorchip
				.color_tag  #5b5b66
				.color_block.color_block_secondary
			.colorchip
				.color_tag  #fefefe
				.color_block.color_block_white
			.colorchip
				.color_tag  #353630
				.color_block.color_block_black
	.content.content_black
		.max-width-md
			h5 Brand Title
			.titlehr
			h1 品牌視覺引導-56px 大標題
			h1.small_english English Brand CI for h1 title
			h2 品牌視覺引導-45px 中標題
			h2.small_english English Brand CI for h2 title
			h3 品牌視覺引導-34px 小標題
			h3.small_english English Brand CI for h3 title
			hr
			h5  Brand Colors
			.titlehr
			.colorchip
				.color_tag  #ff7a5a
				.color_block.color_block_primary
			.colorchip
				.color_tag  #5b5b66
				.color_block.color_block_secondary
			.colorchip
				.color_tag  #fefefe
				.color_block.color_block_white
			.colorchip
				.color_tag  #353630
				.color_block.color_block_black
	.content.content_secondary
		.max-width-md
			h5 Brand Title
			.titlehr
			h1 品牌視覺引導-56px 大標題
			h1.small_english English Brand CI for h1 title
			h2 品牌視覺引導-45px 中標題
			h2.small_english English Brand CI for h2 title
			h3 品牌視覺引導-34px 小標題
			h3.small_english English Brand CI for h3 title
			hr
			h5  Brand Colors
			.titlehr
			.colorchip
				.color_tag  #ff7a5a
				.color_block.color_block_primary
			.colorchip
				.color_tag  #5b5b66
				.color_block.color_block_secondary
			.colorchip
				.color_tag  #fefefe
				.color_block.color_block_white
			.colorchip
				.color_tag  #353630
				.color_block.color_block_black