<!DOCTYPE html>
html(lang="zh-TW")
head
	meta(charset="UTF-8")
	title Hito's Resume
	link(rel="icon" href="favicon.ico" type="image/x-icon" )
	//- CSS
	link(rel="stylesheet", href="Resume/css/style.css")
body
	.bg
	.resume
		.left
			.profilePic
				.profilePic_imgbox
					.image
			h1.name 陳培遠
			h2.l-title Info
			hr
			.info.margin-10
				h4.l-subtitle Address 
				p.l-paragraph 新北市深坑區北深路3段226號4樓
				h4.l-subtitle Mobile 
				p.l-paragraph 0978 622 140
				h4.l-subtitle Email 
				p.l-paragraph Hito_oh0ho@hotmail.com
			h2.l-title Language
			hr
			.language.margin-10
				ul
					li
						h4.l-subtitle Advance 
						p.l-paragraph 中文 粵語
					li
						h4.l-subtitle Intermediate 
						p.l-paragraph 英文 馬來語
					li
						h4.l-subtitle Beginner 
						p.l-paragraph 臺語
		.right
			//- .logo
			//- 	.logo_inner
			//- 		.logo_img
			h2.r-title Experience
			hr
			.experience.margin-10
				ul
					li
						h4.r-subtitle 2015
						p.r-paragraph 房地產營銷員 (In-house Marketing)
						p.small-paragraph Key Realty Private Limited (馬來西亞)
					li
						h4.r-subtitle 2013 ~ 2014
						p.r-paragraph 辦公室助理
						p.small-paragraph 東南科技大學
					li
						h4.r-subtitle 2011
						p.r-paragraph 銷售員
						p.small-paragraph Giant Superstore (馬來西亞)
			h2.r-title Education
			hr
			.education.margin-10
				h4.r-subtitle 2013 ~ 2017
				p.r-paragraph 資訊科技系 學士
				p.small-paragraph 東南科技大學
			h2.r-title Skill
			hr
			.skill.margin-10
				ul
					li
						h4.r-paragraph Html/Css
						.valuebar
							.value.p80
					li
						h4.r-paragraph JQuery
						.valuebar
							.value.p65
					li
						h4.r-paragraph Js
						.valuebar
							.value.p50
					li
						h4.r-paragraph Sass/Pug
						.valuebar
							.value.p70
					li
						h4.r-paragraph RWD
						.valuebar
							.value.p70
					li
						h4.r-paragraph AI
						.valuebar
							.value.p80