<!DOCTYPE html>
html(lang="zh-TW")
head
	meta(charset="UTF-8")
	title Hito's Resume
	link(rel="icon" href="favicon.ico" type="image/x-icon" )
	//- CSS
	link(rel="stylesheet", href="Resume/css/style.css")
body
	.bg
	.resume
		.left
			.profilePic
				.profilePic_imgbox
					.image
			h1.name Hito Tan
			h2.l-title Info
			hr
			.info.margin-10
				ul
					li
						h4.l-subtitle Address 
						p.l-paragraph 25100 Kuantan, Pahang
					li
						h4.l-subtitle Mobile 
						p.l-paragraph 016 986 2691
					li
						h4.l-subtitle Email 
						p.wb.l-paragraph Hito_oh0ho@hotmail.com
			h2.l-title Language
			hr
			.language.margin-10
				ul
					li
						h4.l-subtitle Advance 
						p.l-paragraph Mandarin Cantonese
					li
						h4.l-subtitle Intermediate 
						p.l-paragraph English Malay
					li
						h4.l-subtitle Beginner 
						p.l-paragraph Hokkien
		.right
			//- .logo
			//- 	.logo_inner
			//- 		.logo_img
			h2.r-title Experience
			hr
			.experience.margin-10
				ul
					li
						h4.r-subtitle 2015
						p.r-paragraph In-house Marketing
						p.small-paragraph Key Realty Private Limited
					li
						h4.r-subtitle 2013 ~ 2014
						p.r-paragraph Office helper
						p.small-paragraph Tungnan University
					li
						h4.r-subtitle 2011
						p.r-paragraph Salesman
						p.small-paragraph Giant Superstore
			h2.r-title Education
			hr
			.education.margin-10
				h4.r-subtitle 2013 ~ 2017
				p.r-paragraph Bachelor of Information Technology
				p.small-paragraph Tungnan University
			h2.r-title Skill
			hr
			.skill.margin-10
				ul
					li
						h4.r-paragraph Html/Css
						.valuebar
							.value.p80
					li
						h4.r-paragraph JQuery
						.valuebar
							.value.p65
					li
						h4.r-paragraph Js
						.valuebar
							.value.p50
					li
						h4.r-paragraph Sass/Pug
						.valuebar
							.value.p70
					li
						h4.r-paragraph RWD
						.valuebar
							.value.p70
					li
						h4.r-paragraph AI
						.valuebar
							.value.p70